<div class="container">
  <div class="page-header">
    <h3>Assignment 3: Practicing Directives</h3>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add a button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp
          or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color
          (ngClass)</li>
      </ol>
    </div>
  </div>
  <br/>
  <div class="row">
      <div class="col-xs-12">
        <button 
          type="text"
          class="btn btn-primary"
          (click)="onDisplayDetails()">Display Details</button>
        <p *ngIf="displayed">Any content</p>
        <p *ngIf="!displayed"><br/></p>
        <p 
          *ngFor="let log of logClicks"
          [ngStyle]="{backgroundColor: numberClicks > 4 ? 'blue' : ''}"
          [ngClass]="{item: numberClicks > 4}">{{ log }}</p>
      </div>
  </div>
</div>