#!/usr/bin/env bash

set -e

THIS_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
DOCKER_COMPOSE_FILE=${THIS_DIR}/.docker/docker-compose.yml
DOCKER_COMPOSE_SERVICE=angular

export_alias node "docker-compose -f ${DOCKER_COMPOSE_FILE} run --rm ${DOCKER_COMPOSE_SERVICE} node \"\${@}\""
export_alias npm "docker-compose -f ${DOCKER_COMPOSE_FILE} run --rm ${DOCKER_COMPOSE_SERVICE} npm \"\${@}\""
export_alias ng "docker-compose -f ${DOCKER_COMPOSE_FILE} run --rm ${DOCKER_COMPOSE_SERVICE} ng \"\${@}\""
export_alias tsc "docker-compose -f ${DOCKER_COMPOSE_FILE} run --rm ${DOCKER_COMPOSE_SERVICE} tsc \"\${@}\""